<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Travl</title>
  <meta name="description" content="An introduction to token-based auth.">
  <link href='https://fonts.googleapis.com/css?family=Changa+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style type="text/css">
    .center {
      margin: 0 auto;
      text-align: center;
    }

    .container {
      min-width: 400px;
    }

    .pure-button {
      border-radius: 4px;
    }

    .pure-group {
      display: inline-block;
    }
  </style>

</head>
<body ng-app="app">
  <div class="container center" ng-controller="MainController as vm">
    <header class="img">
      <h1>TRAVL</h1>
      <h4>The app that shows your map.</h4>
    </header>
    <main>
      <div class="buttons">
        <button ng-click="vm.createuser=!vm.login" class="pure-button pure-button-primary">Create User</button>
        <!-- {{ vm.user }} -->
        <form ng-if="vm.createuser && !vm.login" id="user" class="pure-form center" ng-submit="vm.createUser()">
          <fieldset class="pure-group center">
            <input type="email"    ng-model="vm.user.email"    class="email" placeholder="user@domain.com">
            <input type="text"     ng-model="vm.user.name"     class="name" placeholder="Ben Dover">
            <input type="password" ng-model="vm.user.password" class="password" placeholder="password">
            <input type="date"     ng-model="vm.user.dob"      class="dob" placeholder="">
            <a class="pure-button pure-button-primary" ng-click="vm.createuser = false">Cancel</a>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
          </fieldset>
        </form>

        <button ng-click="vm.login=!vm.createuser" class="pure-button pure-button-primary">Log In</button>
        <form ng-if="vm.login && !vm.createuser" id="token" class="pure-form center" ng-submit="vm.logInUser()">
          <fieldset class="pure-group center">
            <input type="email"    ng-model="vm.auth.email"     ng-disabled="vm.auth.isLoggedIn" class="email" placeholder="user@domain.com">
            <input type="password" ng-model="vm.auth.password"  ng-disabled="vm.auth.isLoggedIn" class="password" placeholder="password">
            <a class="pure-button pure-button-primary" ng-click="vm.login = false">Cancel</a>
            <button type="submit"  ng-hide="vm.auth.isLoggedIn"                                  class="pure-button pure-button-primary">Submit</button>
            <button type="button"  ng-show="vm.auth.isLoggedIn" ng-click="vm.auth.logOut()"      class="pure-button pure-button-primary">Log Out</button>
          </fieldset>
        </form>
      </div>
      <pre id="success">{{ vm.successMessage }}</pre>
      <pre id="failure">{{ vm.failureMessage }}</pre>
    </main>
  </div> <!-- div.container -->

  <script src="/js/app/angular.module.js"></script>
  <script src="/js/app/angular.config.js"></script>
  <script src="/js/app/token.service.js"></script>
  <script src="/js/app/tokenSigning.service.js"></script>
  <script src="/js/app/auth.service.js"></script>
  <script src="/js/app/user.dataservice.js"></script>
  <script src="/js/app/main.controller.js"></script>
</body>
</html>
